<!DOCTYPE html>
<html lang="en">
  <head>
   <title>Complain Registration</title>
   <link href="static\css\style.css" type="text/css" rel="stylesheet"/>
  </head>
  <style>
  body
{
background-color:lavenderblush;
}
#b
{

font-size:30px;
}
  </style>
  <body>
  <div id="mySidepanel" class="sidepanel">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href  ="/" >Home</a>
  <a href  ="/adminlogin" >Admin</a>
  <a href  ="/ComplainRegistration">Complain Registration</a>
  <a href="/track" >Track</a>
  <a href="/logout" >Logout</a>
</div>
<button class="openbtn" onclick="openNav()">☰ </button> 

 <br>
   <br>
    <table id="b" cellpadding="0px" cellspacing="5px" border="1 px solid black" align="center"  >
     <tr>
      <form name="ComplainRegistration" method="post" action="/ComplainRegistration" align="center">
     
      <td>
       <table  cellpadding="10px" cellspacing="5px" >
        <tr>
         <td  colspan="3" >
         <strong><center>COMPLAIN REGISTRATION</center></strong>
         </td>
        </tr>
        <tr>
         <td>Name</td>
         <td>:</td>
         <td><input name="name" type="text" id="name"></td>
        </tr>
         <tr>
         <td>E-mail Id</td>
         <td>:</td>
         <td><input name="email" type="text" id="email"></td>
        </tr>
         <tr>
         <td>Phone No.</td>
         <td>:</td>
         <td><input name="mobileno" type="text" id="mobileno"></td>
        </tr>
        <tr>
         <td> Complain Description</td>
         <td>:</td>
         <td><input name="complain description" type="text" id="complain descriptions"></td>
        </tr>
        <tr>
         <td  colspan="3" >
         <center><input name="submit" type="submit" class="abc" value="Submit" ></center>
         </td>
        </tr>
         <tr>
         <td  colspan="3" >
         <center>{{msg}}</center>
         </td>
        </tr>
       </table>
      </td>
     </form>
    </tr>
   </table>

<script>
function openNav() {
  document.getElementById("mySidepanel").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidepanel").style.width = "0";
}
</script>
   </body>
</html>
