<!DOCTYPE html>
<html lang="en">
  <head>
   <title>Home page</title>
   <link href="static\css\style.css" type="text/css" rel="stylesheet"/>
   <style>
   a
{
 font-size:20px;
  background-color:#ffffff;
  color:black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  
}
body
{
 height: 100vh;
 background-color:grey;
 background-image: linear-gradient(to bottom right,darkcyan,darkslateblue);
 background-repeat:no repeat;
}
</style>
  </head>
  <body>
    <br>
    <center>
    <img src="static\img\app_logo.jpeg" width="250" height="150"/>
    </center>
    <p1><center>abz</p1>
    <p2>Help desk</center></p2>
    <p3><center>Welcomes you.!!</center></p3> 
    <br>
    <p4><center>We are  always at your service.</center> </p4>
    <br>
    <form align="center" >
     <a href="/adminlogin"><center>Admin</center></a>  
     <a href="/userlogin"><center>User</center></a>
     <a href="/signup"><center>Registration/Signup</center></a>
    </form>
   </body>
  </html> 
